.swiper-slide-prev > .slide-item > .project-card-container {
    box-shadow: none;
}

.swiper-button-prev {
    display: none;
}
.swiper-button-next {
    font-size: 3vw;
    color: black;
}

.swiper-button-next {
    right: var(--swiper-navigation-sides-offset, 0px);
}

.swiper-button-next::after {
    font-size: 3vw;
}

.swiper {
    padding-right: 4%;
}

.slide-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ver-mas-button-grey {
    color:#929292 ;
    border-style: solid;
    border-radius: 25px;
    margin-top: 4%;
    border-color: #929292;
    font-family: QuicksandVariable;
    font-weight: 600;
    font-size: 1vw;
    width: 100%;
}

.ver-mas-button-grey:hover {
    cursor: pointer;
    color: #615e5e;
}
