.contacto-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 2%;
}

.cont-container-w1 {
    width: 66%;
}

.cont-container-w2{
    width: 48%;
}

.contacto-text {
    font-family: QuicksandVariable;
    font-weight: 1000;
    font-size: 1.2vw;
    margin: 0 0 7% 0;
}

.contacto-logos-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logos {
    margin: 1% 2%;
    width: 3vw;
}

.logos:hover {
    cursor: pointer;
}