.row>.sec-col>* {
    padding-left: calc(var(--bs-gutter-x) * .5);
}
.row>.third-col>* {
    padding-left: calc(var(--bs-gutter-x) * 1);
}
.row>.col>* {
    padding-left: calc(var(--bs-gutter-x) * 4.8);
}

.backmenu-container {
    width: 28%;
}

.arrow-title {
    display: flex;
    justify-content: center;
    width: fit-content;
    cursor: pointer;
    align-items: center;
}

.backArrowImage{
    display: flex;
    justify-content: center;
}

.back-text {
    color: black;
    text-decoration: none;
    font-family: QuicksandBold;
    font-size: 1.4vw;
    margin-bottom: 0;
}

.arrow-image {
    width: 70%;
}

.details-text {
    font-size: 1.5vw;
    margin-top: 5%;
}

.sec-col {
    flex: 0 0 auto;
    width: 22%;
}

.third-col {
    flex: 0 0 auto;
    width: 22.3%;
}

.remod-image {
    width: 100%;
}

.valoracion{
    margin-top: 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.valoracion-text {
    font-size: 1.3vw;
    margin-bottom: 0;
}

.containerimg {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 9%;
}
  
.detalles-container .projectImagePrev {
    height: auto;
}
.detalles-container{
    width: 100%;
}

.projectImagePrev-cont
{
  width: 100%;
}

.image4 {
    width: 100%;
}
  
.otro-text {
    font-family: QuicksandVariable;
    font-weight: 1000;
    font-size: 1.2vw;
    margin: 0 0 1% 0;
}

.explicacion-text {
    font-size: 1vw;
    font-family: QuicksandVariable;
    font-weight: 600;
}

#message-d {
    width: 98%;
    min-height: 9.6vw;
    max-height: 4vw;
    resize: vertical;      
}

.cont-log-cont {
    width: 77%;
}


@media screen and (max-width: 1000px) {
    .row>.col>* {
        padding-left: calc(var(--bs-gutter-x) * 3.8);
    } 
}

@media screen and (max-width: 900px) {
    .row>.col>* {
        padding-left: calc(var(--bs-gutter-x) * 2.5);
    } 
}

@media screen and (max-width: 600px) {
    .white-arrow-title {
        display: flex;
        position: absolute;
        top: 8vw;
        align-items: center;
    }
    .white-arrow-image {
        margin-right: 25px;
    }
    .white-text {
        color: white;
        font-size: 3.5vw;
        margin-bottom: 0;
    }
    .details-text {
        font-size: 4.8vw;
        margin-top: 27%;
    }

    .backmenu-container {
        width: 100%;
    }
    .valoracion-text, .otro-text {
        font-size: 4vw;
    }
    .starsFontSize {
        font-size: 6vw;
    }
    .explicacion-text {
        font-size: 3.7vw;
        margin-top: 8%;
        margin-bottom: 15%;
    }

    .containerimg {
        margin-top: 5%;
    }
    
    .califica-text {
        margin-top: 28%;
        font-size: 5vw;
    }

    .star-rating {
        font-size: 9vw;
        padding-left: 0;
        justify-content: space-between;
    }

    .medium-number {
        font-size: 4vw;
    }

    .dynamic-rating-container {
        justify-content: flex-start;
    }
    .cont-container-w1 {
        margin-top: 7%;
    }
}