.proyectos-col8 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 69%;
}

.main-nav {
    width: auto;
}

.carousel-col {
    width: 69%;
}

.car-cont-container {
    display: flex;
    justify-content: space-between;
}


#message-p {
    width: 70%;
    min-height: 9.6vw;
    max-height: 4vw;
    resize: vertical;  
}