.service-card-inner-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.service-card-container {
    width: 100%;
    border-radius: 12px;
    padding: 3% 2% 3% 5%;
    margin: 1% 0%;
    height: 7vw;
    display: flex;
    justify-content: center;
}

.service-card-container:hover {
    cursor: pointer;
}

.service-image-container {
    width: 30%;
    height: auto;
}

.service-image {
    width: 85%;
}

.service-text-container {
    font-size: 0.7vw;
    color: #fff;
    width: 70%;
}

.service-text {
    margin: 0;
}